@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Poppins:wght@400;500&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --primaryColor:#f6cfb2;
    --secondColor:#13828a;
    --thirdRed:#c4192d;
    --black:black;
    --trisition:all .3s ease-in-out;


}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    /* padding: 20px; */
}
.buton{
    display: inline-block;
    margin: 15px 0;
    padding: 10px 15px;
    background-color: var(--secondColor);
    color: var(--primaryColor);
    transition: all .3s ease-in-out;
    border: none;
    outline: none;
}
.buton:hover{
    background: var(--thirdRed);
}
body{
    font-family: 'josefin sans', sans-serif;
    background-color: black;
}
#menu,
#times
{
    color: var(--second-fff);
    font-size: 23px;
    display: none;
    cursor: pointer;
}
.navbar{
    max-width: 900px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: var(--primaryColor);
    text-transform: capitalize;
}
.navbar .logo{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: var(--primaryColor);
    padding-left: 10px;
}
.navbar .links ul{
    display: flex;
}
.navbar .links ul li{
    padding: 10px;
}
.navbar .links ul li a{
    font-size: 17px;
    color: var(--primaryColor);
    font-weight: 500;
    transition: var(--trisition);
}
.navbar .links ul li a:hover,
.navbar .logo:hover{
    cursor: pointer;
    color: var(--secondColor);
}
/* home page */
.showcase{
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6) 50%),
    url(./img/home-min.jpg) center center/cover;
     display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.showcase .text{
    color: white;
    margin: 0 auto;
    padding: 30px;
}
.showcase .text p:first-child{
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--thirdRed);
}
.showcase .text h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 800;
    line-height: 1.4;
}
.showcase .text .p2{
    line-height:1.6;
    color: var(--primaryColor);
    margin-bottom: 10px;
}
.showcase .text a{
    display: inline-block;
    background-color: var(--primaryColor);
    padding: 12px 28px;
    color: var(--black);
    border-radius: 24px;
    text-transform: uppercase;
    transition: var(--trisition);
}
.showcase .text a:hover{
    transform: scale(1.03);
    background-color:var(--thirdRed);
    color: var(--primaryColor);
}
/* our services */
.section{
    color: var(--primaryColor);
    padding: 40px 20px;
    width: 100%;
}
.section .title{
    color: var(--primaryColor);
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 0;
}
.section .title .title-span{
    color: var(--thirdRed);
}
.services{
    background-color: var(--black);
}
.services .container {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 25px;
    text-align: center;
}
.section .container .card{
    padding: 20px;
    border-radius:4px;
}
.services .container .card h1{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--thirdRed);
}
.services .container .card  p{
    color: var(--lightColor);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
}
.services .container .card a{
    display: inline-block;
    margin: 15px 0;
    padding: 10px 15px;
    background-color: var(--secondColor);
    color: var(--primaryColor);
}
/* hotels */
.hotels{
    background-color: #241c1c;
    padding: 60px 0;
}
.hotels .title{
    padding-bottom: 20px;
}
.hotels .container .box{
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.hotels .container .box .text{
    padding: 10px;
}
.hotels .container .box:nth-child(even) img{
    order: 2;
}
.hotels .container .box .text h2{
    margin-bottom: 10px;
    font-size: 27px;
    color: var(--secondColor);
    text-transform: capitalize;
}
.hotels .container .box .text p{
    line-height: 1.4;
    font-size: 18px;
}
/* testimonials */
.tesimonial .title{
    margin-bottom: 50px;
    padding: 20px 0;
}
.tesimonial .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 25px;
}
.tesimonial .container .card {
    background-color: var(--secondColor);
}
.tesimonial .container .card .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0 15px;
    text-transform: capitalize;
}
.tesimonial .container .card .profile img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 10px;
    /* border-radius: 50%; */
    border: 3px solid white;
    box-shadow: 2px 2px 4px white;
}
.tesimonial .container .card a{
    margin: 10px 0;
    display: inline-block;
    padding: 10px 14px;
    background-color: var(--thirdRed);
    color: var(--primaryColor);
    text-transform: capitalize;
}
.tesimonial .container .card .profile .names{
    align-self: flex-end;
}
.tesimonial .container .card .profile .name{
    color: #241c1c;
    font-size: 20px;
    font-weight: 700;
}
.tesimonial .container .card .profile .names .job{
    color:#241c1c;
    font-size: 14px;
    text-align: center;
    margin-top: 3px;
}
.tesimonial .container .card i{
    color: var(--primaryColor);
    font-size: 24px;
    margin-bottom: 5px;
}
.tesimonial .container .card p{
    line-height: 1.4;
}
/* foootter */
footer{
    background: var(--thirdRed);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer .wrap{
    max-width: 1200px;
    margin: 0 auto;
}
footer .row{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4,1fr);

}

footer .row .col h2{
    margin-bottom: 10px;
    text-transform: capitalize;
}
footer .row .col.c1 h2{
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 22px;
    color: var(--primaryColor);
}

footer .row .col.c1 p{
    font-weight: 600;
}
footer .col.c3 ul {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer .row .col.c3 ul li i{
    color: var(--primaryColor);
    font-size: 20px;
    transition: all .3s ease-in-out;
}
footer .row .col.c3 ul li i:hover{
    transform: scale(1.3);
    color: var(--secondColor);
}











/* contact */
.contact{
    color: var(--primaryColor);
    padding: 40px 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95),rgba(0, 0, 0, 0.7))
    ,url(./img/form-min.jpg) center center/cover;
    /* text-transform: capitalize; */
}
.contact .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.contact .container .list{
    margin-top: 15px;
}
.contact .container .list ul li{
    margin: 8px 0;
}
.contact .container .list ul li span.icon{
    color: var(--thirdRed);
    margin-right: 8px;

}
.contact .container .list .social-links{
    margin: 20px 0;
}
.contact .container .list .social-links h2{
    margin-bottom: 10px;
    color: var(--thirdRed);
}
.contact .container .list .social-links ul{
    display: flex;
    gap: 6px;
}
.contact .container .list .social-links ul li{
    margin: 5px;
}
.contact .container form .control{
    margin: 10px 0;
    text-transform: capitalize;
}
.contact .container form .control input,textarea{
    width: 70%;
    padding: 7px 10px;
    background-color: transparent;
    border: 1px solid var(--secondColor);
    margin-top: 3px;
    border-radius: 4px;
    outline: none;
    color: var(--primaryColor);
}
::placeholder{
    color: var(--primaryColor);
    text-transform: capitalize;
}
.contact .container form .control button{
    background-color: transparent;
    padding: 8px 16px;
    outline: none;
    color: #13828a;
    border: 1px solid var(--secondColor);
    display: block;
    width: 70%;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}
.contact .container form .control button:hover{
    background: #c4192d;
    color: #f6cfb2;
}
/* go  */
.go{
    background: white;
    border:1px solid var(--thirdRed);
    width: 35px;
    height: 45px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 222;
}
.go a{
    color: var(--thirdRed);
    transform: rotate(90deg);
}

/* menu */
.menu{
    background:white;
    padding: 80px 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .89),rgba(250, 250, 250, 0.89))
    ,url(./img/food.jpg) center center/cover;
}
.menu .container{
    padding: 0 20px;
}
.menu .container .head{
    margin-bottom: 60px;
    text-align: center;
}
.menu .container .head .head-title{
    text-transform: uppercase;
    margin-bottom:20px;
    font-weight: 800;
    color: var(--thirdRed);
}
.menu .container .head p{
    color:rgba(0, 0, 0, 0.6);
    line-height: 1.6;
    font-family: nunito;
}
.menu .container .body{
    display: grid;
    gap: 40px;
    column-gap: 50px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.menu .container .body .item h2{
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #c4192d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu .container .body .item .item-item{
    margin-bottom: 10px;
}
.menu .container .body .item .item-item .line{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    /* color: #13828a; */
    font-size:16px;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.menu .container .body .item .item-item .text{
    font-size: 15px;
    color:rgba(0, 0, 0, 0.67);
    font-family: nunito;
}
.menu .container .buton{
    display: block;
    border: none;
    outline: none;
    width: 70%;
    margin: 30px auto;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}
.popular{
    background: white;
    padding: 70px 0;
}
.popular .container{
    padding: 20px;
}
.popular .container .title{
    text-align: center;
    margin-bottom: 50px;
}
.popular .container .title h1{
    text-transform: uppercase;
    color: #c4192d;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.popular .container .title p{
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.6);
    font-family: nunito;
}
.popular .container .title h1::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60%;
    height: 3px;
    background: #c4192d;
}
.popular .container .grid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.popular .container .grid .card{
    border:1px solid rgba(0, 0, 0, 0.2);
}
.popular .container .grid .card .img{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular .container .grid .card .img img{
    width: 180px;
    height: 180px;
}
.popular .container .grid .card .text{
    padding: 10px 20px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.popular .container .grid .card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.popular .container .grid .text h2{
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 23px;
    color: var(--thirdRed);
    font-family:satisfy;
}
.popular .container .grid .text p{
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.6);
    font-family: nunito, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.popular .container .grid .text .price{
    font-size: 26px;
    margin: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--thirdRed);   
}
.popular .container .buton{
    cursor: pointer;
    width: 100%;
    background: rgba(0, 0, 0, 0.06);
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.popular .container .buton:hover{
    background: rgba(0, 0, 0, 0.2);
}

.popular .container .title .date{
    display: flex;
    justify-content: center;
    font-family: nunito;
    margin-top: 30px;
}
.popular .container .title .date .hrs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.popular .container .title .date .hrs .n0{
    font-size: 45px;
    /* color:#213159; */
    color: #3d6098;
    font-weight: 800;
    font-family: satisfy;
}
.popular .container .title .date .hrs .na{
    font-size: 13px;
    font-family: satisfy;
    color: var(--thirdRed);
}
.popular .container .title .p{
    color:#3d6098;
    text-transform: uppercase;
}
.popular .container .title .p span{
    color: #c4192d;
    font-weight: bold;
    font-size: 20px;
}





/* media queries */
@media (max-width: 680px){
    .filter .container .btns .btn{
        padding: 10px 30px;
        font-size: 19px;
    }
    .showcase .text h1{
        font-size: 36px;
    }
    .fixed-nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--secondColor);
        border-bottom: 1px solid var(--primaryColor);
        z-index: 10;
    }

    footer .row{
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2,1fr);

    }
    
}
@media (max-width: 600px){
    .filter .container .btns .btn{
        padding: 10px 24px;
        font-size: 18px;
    }
    .hotels .container .box{
        grid-template-columns: 1fr;
    }
    .hotels .container .box img{
        order: 2;
    }
    /* navbar-------------- */
    #menu,#times{
        display: block;
    }
    .navbar #times{
        position: absolute;
        right:40px;
        top: 40px;
        color: var(--primaryColor);
    }
    .navbar .links{
        position: fixed;
        background-color: var(--thirdRed);
        width: 100%;
        height: 100vh;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        z-index: 2;
        flex-direction: column;
        top: 0;
        left: 0;
        padding: 0 50px;
        box-sizing: border-box;
        transform: translateY(100%);
        transition: .3s ease-in-out;
    }
    .navbar .links.active{
        transform: translateY(0);
    }
    .navbar .links ul {
        display:inline-block;
        margin-top: 20px;
        width: 80%;
    }
    .navbar .links ul li{
        border-bottom: 1px solid white;
        margin: 10px 0;
    }
    .navbar .links ul li a{
        font-size: 20px;
    }
}
@media (max-width: 520px){
    .filter .container .btns .btn{
        padding: 10px 18px;
        font-size: 17px;
    }
    .filter .container .btns .btn.all{
        padding: 10px 40px;
    }
    .showcase .text h1{
        font-size: 30px;
    }
}
@media (max-width: 470px){
    .filter .container .btns .btn{
        padding: 10px 15px;
        font-size: 15px;
    }
    .filter .container .btns .btn.all{
        padding: 10px 35px;
    }
}
    footer .row{
        display: grid;
        gap: 25px;
        grid-template-columns: 1fr;
        text-align: center;

    }
}
@media (max-width: 420px){
    .filter .container .btns .btn{
        padding: 8px 12px;
        font-size: 14px;
    }
    .section .title{
        font-size: 24px;
    }
}
@media (max-width: 360px){
    .filter .container .btns .btn{
        padding: 8px 12px;
        font-size: 14px;
    }
    .filter .container .btns .btn.all{
        padding: 10px 24px;
    }
    .showcase .text h1{
        font-size: 26px;
        line-height: 1.6;
    }
    .showcase .text .btn{
        margin-top: 18px;
    }
  
    .hotels .container .box{
        border-bottom: 1px solid var(--primaryColor);
        margin-bottom:10px;
        background-color: #080808;
    }
}

